## Truncating Tables

Let us understand details related to truncating tables.

* If you want to delete the data from a table entirely, then `TRUNCATE` is the fastest way to do so.
* Irrespective of size of the table, data can be cleaned up with in no time.
* Truncate operations can be rolled back.
* `TRUNCATE` is a DDL statement. In Postgres, DDL statements are not auto committed. In most of the databases, DDL statements are committed automatically.
* One cannot **truncate** the table with only DML permissions.
* As part of the web or mobile applications, we typically will not have `TRUNCATE` as part of the core logic.
* In Data Engineering or ETL applications, it is used more commonly to truncate intermediate or stage tables.
* If we have to truncate multiple related tables at the same time, then typically we truncate child tables first and then parent tables.
* We can also use `CASCADE` to truncate the data in child tables as well as in the parent.

In [ ]:
%load_ext sql

In [147]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

In [148]:
%sql DROP TABLE IF EXISTS user_logins

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.

[]

In [149]:
%sql DROP TABLE IF EXISTS users

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.

[]

In [150]:
%sql DROP SEQUENCE IF EXISTS users_user_id_seq

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.

[]

In [151]:
%%sql

CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN,
    user_password VARCHAR(200),
    user_role VARCHAR(1),
    is_active BOOLEAN,
    created_dt DATE DEFAULT CURRENT_DATE
)

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.

[]

In [152]:
%%sql

CREATE TABLE user_logins (
    user_login_id SERIAL PRIMARY KEY,
    user_id INT,
    user_login_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    user_ip_addr VARCHAR(20)
)

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.

[]

In [153]:
%%sql

ALTER TABLE user_logins
    ADD FOREIGN KEY (user_id)
    REFERENCES users(user_id)

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.

[]

```{warning}
You will not be able to truncate parent table with out cascade (even when tables are empty)
```

In [154]:
%sql TRUNCATE TABLE users

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db

NotSupportedError: (psycopg2.errors.FeatureNotSupported) cannot truncate a table referenced in a foreign key constraint
DETAIL:  Table "user_logins" references "users".
HINT:  Truncate table "user_logins" at the same time, or use TRUNCATE ... CASCADE.

[SQL: TRUNCATE TABLE users]
(Background on this error at: http://sqlalche.me/e/13/tw8g)

In [155]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id)
VALUES ('Donald', 'Duck', 'donald@duck.com')

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[]

In [156]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id, user_role, is_active)
VALUES ('Mickey', 'Mouse', 'mickey@mouse.com', 'U', true)

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[]

In [157]:
%%sql

INSERT INTO users 
    (user_first_name, user_last_name, user_email_id, user_password, user_role, is_active) 
VALUES 
    ('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub', 'U', true),
    ('Tobe', 'Lyness', 'tlyness1@paginegialle.it', 'oEofndp', 'U', true),
    ('Addie', 'Mesias', 'amesias2@twitpic.com', 'ih7Y69u56', 'U', true)

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
3 rows affected.

[]

In [158]:
%%sql

INSERT INTO user_logins 
    (user_id)
VALUES
    (1),
    (2),
    (3),
    (1),
    (1),
    (4)

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
6 rows affected.

[]

In [159]:
%sql SELECT * FROM users

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
5 rows affected.

[(1, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2020, 11, 23)),
 (2, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2020, 11, 23)),
 (3, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', None, 'h9LAz7p7ub', 'U', True, datetime.date(2020, 11, 23)),
 (4, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', None, 'oEofndp', 'U', True, datetime.date(2020, 11, 23)),
 (5, 'Addie', 'Mesias', 'amesias2@twitpic.com', None, 'ih7Y69u56', 'U', True, datetime.date(2020, 11, 23))]

In [160]:
%sql SELECT * FROM user_logins

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
6 rows affected.

[(1, 1, datetime.datetime(2020, 11, 23, 16, 44, 8, 289602), None),
 (2, 2, datetime.datetime(2020, 11, 23, 16, 44, 8, 289602), None),
 (3, 3, datetime.datetime(2020, 11, 23, 16, 44, 8, 289602), None),
 (4, 1, datetime.datetime(2020, 11, 23, 16, 44, 8, 289602), None),
 (5, 1, datetime.datetime(2020, 11, 23, 16, 44, 8, 289602), None),
 (6, 4, datetime.datetime(2020, 11, 23, 16, 44, 8, 289602), None)]

```{note}
`TRUNCATE` with `CASCADE` will truncate data from child table as well.
```

In [161]:
%sql TRUNCATE TABLE users CASCADE

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.

[]

In [162]:
%sql SELECT * FROM users

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
0 rows affected.

[]

In [163]:
%sql SELECT * FROM user_logins

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
0 rows affected.

[]