## Overview of Views
Here are the details related to views.

* View is nothing but a named query. We typically create views for most commonly used queries.
* Unlike tables, views does not physically store the data and when ever we write a query against view it will fetch the data from underlying tables defined as part of the views.
* We can perform DML operations over the tables via views with restrictions (for example, we cannot perform DML operations on views with joins, group by etc).
* Views that can be used to perform DML operations on underlying tables are called as **updatable views**
* Views can be used to provide restricted permissions on tables for DML Operations. However, it is not used these days.

In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

In [4]:
%%sql

CREATE OR REPLACE VIEW orders_v
AS
SELECT * FROM orders

Done.

[]

In [5]:
%%sql

CREATE VIEW orders_v
AS
SELECT * FROM orders

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
(psycopg2.errors.DuplicateTable) relation "orders_v" already exists

[SQL: CREATE VIEW orders_v AS
SELECT * FROM orders]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [6]:
%%sql

SELECT * FROM information_schema.tables
WHERE table_name ~ 'orders'

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
2 rows affected.

[('itversity_retail_db', 'public', 'orders', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itversity_retail_db', 'public', 'orders_v', 'VIEW', None, None, None, None, None, 'YES', 'NO', None)]

In [7]:
%%sql

UPDATE orders_v
SET order_status = lower(order_status)

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
68883 rows affected.

[]

In [8]:
%%sql

SELECT * FROM orders LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(122, datetime.datetime(2013, 7, 26, 0, 0), 2071, 'processing'),
 (123, datetime.datetime(2013, 7, 26, 0, 0), 3695, 'pending_payment'),
 (124, datetime.datetime(2013, 7, 26, 0, 0), 2374, 'complete'),
 (125, datetime.datetime(2013, 7, 26, 0, 0), 4611, 'pending_payment'),
 (126, datetime.datetime(2013, 7, 26, 0, 0), 610, 'complete'),
 (127, datetime.datetime(2013, 7, 26, 0, 0), 5261, 'pending_payment'),
 (128, datetime.datetime(2013, 7, 26, 0, 0), 2772, 'pending_payment'),
 (129, datetime.datetime(2013, 7, 26, 0, 0), 9937, 'closed'),
 (130, datetime.datetime(2013, 7, 26, 0, 0), 7509, 'pending_payment'),
 (131, datetime.datetime(2013, 7, 26, 0, 0), 10072, 'processing')]

In [9]:
%%sql

UPDATE orders_v
SET order_status = upper(order_status)

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
68883 rows affected.

[]

In [10]:
%%sql

CREATE OR REPLACE VIEW order_details_v
AS
SELECT * FROM orders o
    JOIN order_items oi
        ON o.order_id = oi.order_item_order_id

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
Done.

[]

In [11]:
%%sql

SELECT * FROM order_details_v LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED', 1, 1, 957, 1, 299.98, 299.98),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT', 2, 2, 1073, 1, 199.99, 199.99),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT', 3, 2, 502, 5, 250.0, 50.0),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT', 4, 2, 403, 1, 129.99, 129.99),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED', 5, 4, 897, 2, 49.98, 24.99),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED', 6, 4, 365, 5, 299.95, 59.99),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED', 7, 4, 502, 3, 150.0, 50.0),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED', 8, 4, 1014, 4, 199.92, 49.98),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE', 9, 5, 957, 1, 299.98, 299.98),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE', 10, 5, 365, 5, 299.95, 59.99)]

In [12]:
%%sql

SELECT count(1) FROM order_details_v

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(172198,)]

In [13]:
%%sql

SELECT order_date,
    order_item_product_id,
    round(sum(order_item_subtotal)::numeric, 2) AS revenue
FROM order_details_v 
GROUP BY order_date,
    order_item_product_id
ORDER BY order_date,
    revenue DESC
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, Decimal('10799.46')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, Decimal('9599.36')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, Decimal('8499.15')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, Decimal('7558.74')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, Decimal('6999.65')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, Decimal('6397.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, Decimal('5589.57')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, Decimal('5100.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, Decimal('2879.28')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, Decimal('599.99'))]

In [14]:
%%sql

SELECT * FROM order_details_v
WHERE order_id = 2

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
3 rows affected.

[(2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT', 2, 2, 1073, 1, 199.99, 199.99),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT', 3, 2, 502, 5, 250.0, 50.0),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT', 4, 2, 403, 1, 129.99, 129.99)]

```{note}
We cannot directly update data in tables via views when the view is defined with joins. Even operations such as `GROUP BY` or `ORDER BY` etc will make views not updatable by default.
```

In [15]:
%%sql

UPDATE order_details_v
SET
    order_status = 'pending_payment'
WHERE order_id = 2

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
(psycopg2.errors.ObjectNotInPrerequisiteState) cannot update view "order_details_v"
DETAIL:  Views that do not select from a single table or view are not automatically updatable.
HINT:  To enable updating the view, provide an INSTEAD OF UPDATE trigger or an unconditional ON UPDATE DO INSTEAD rule.

[SQL: UPDATE order_details_v SET order_status = 'pending_payment'
WHERE order_id = 2]
(Background on this error at: http://sqlalche.me/e/13/e3q8)