## Ranking and Filtering - Recap

Let us recap the procedure to get top 5 products by revenue for each day.

* We have our original data in **orders** and **order_items**
* We can pre-compute the data or create a view with the logic to generate **daily product revenue**
* Then, we have to use the view or table or even sub query to compute rank
* Once the ranks are computed, we need to use sub query to filter based up on our requirement.

Let us come up with the query to compute daily product revenue.

In [21]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [22]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

In [23]:
%%sql

SELECT o.order_date,
       oi.order_item_product_id,
       round(sum(oi.order_item_subtotal)::numeric, 2) AS revenue
FROM orders o JOIN order_items oi
ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date, oi.order_item_product_id
ORDER BY o.order_date, revenue DESC
LIMIT 30

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
30 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, Decimal('5099.49')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, Decimal('4499.70')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, Decimal('3359.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, Decimal('2999.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, Decimal('2798.88')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, Decimal('1949.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, Decimal('1650.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, Decimal('1079.73')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, Decimal('599.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 24, Decimal('319.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 821, Decimal('207.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 625, Decimal('199.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 705, Decimal('119.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 572, Decimal('119.97')),
 (datetime.datetime(2013, 7, 25, 0, 0), 666, Decimal('109.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 725, Decimal('108.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 134, Decimal('100.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 906, Decimal('99.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 828, Decimal('95.97')),
 (datetime.datetime(2013, 7, 25, 0, 0), 810, Decimal('79.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 924, Decimal('79.95')),
 (datetime.datetime(2013, 7, 25, 0, 0), 926, Decimal('79.95')),
 (datetime.datetime(2013, 7, 25, 0, 0), 93, Decimal('74.97')),
 (datetime.datetime(2013, 7, 25, 0, 0), 835, Decimal('63.98')),
 (datetime.datetime(2013, 7, 25, 0, 0), 897, Decimal('49.98')),
 (datetime.datetime(2013, 7, 26, 0, 0), 1004, Decimal('10799.46')),
 (datetime.datetime(2013, 7, 26, 0, 0), 365, Decimal('7978.67')),
 (datetime.datetime(2013, 7, 26, 0, 0), 957, Decimal('6899.54')),
 (datetime.datetime(2013, 7, 26, 0, 0), 191, Decimal('6799.32'))]

Let us compute the rank for each product with in each date using revenue as criteria.

In [24]:
%%sql


SELECT nq.*,
    dense_rank() OVER (
        PARTITION BY order_date
        ORDER BY revenue DESC
    ) AS drnk
FROM (
    SELECT o.order_date,
        oi.order_item_product_id,
        round(sum(oi.order_item_subtotal)::numeric, 2) AS revenue
    FROM orders o 
        JOIN order_items oi
            ON o.order_id = oi.order_item_order_id
    WHERE o.order_status IN ('COMPLETE', 'CLOSED')
    GROUP BY o.order_date, oi.order_item_product_id
) nq
ORDER BY order_date, revenue DESC
LIMIT 30

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
30 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, Decimal('5599.72'), 1),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, Decimal('5099.49'), 2),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, Decimal('4499.70'), 3),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, Decimal('3359.44'), 4),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, Decimal('2999.85'), 5),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, Decimal('2798.88'), 6),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, Decimal('1949.85'), 7),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, Decimal('1650.00'), 8),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, Decimal('1079.73'), 9),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, Decimal('599.99'), 10),
 (datetime.datetime(2013, 7, 25, 0, 0), 24, Decimal('319.96'), 11),
 (datetime.datetime(2013, 7, 25, 0, 0), 821, Decimal('207.96'), 12),
 (datetime.datetime(2013, 7, 25, 0, 0), 625, Decimal('199.99'), 13),
 (datetime.datetime(2013, 7, 25, 0, 0), 705, Decimal('119.99'), 14),
 (datetime.datetime(2013, 7, 25, 0, 0), 572, Decimal('119.97'), 15),
 (datetime.datetime(2013, 7, 25, 0, 0), 666, Decimal('109.99'), 16),
 (datetime.datetime(2013, 7, 25, 0, 0), 725, Decimal('108.00'), 17),
 (datetime.datetime(2013, 7, 25, 0, 0), 134, Decimal('100.00'), 18),
 (datetime.datetime(2013, 7, 25, 0, 0), 906, Decimal('99.96'), 19),
 (datetime.datetime(2013, 7, 25, 0, 0), 828, Decimal('95.97'), 20),
 (datetime.datetime(2013, 7, 25, 0, 0), 810, Decimal('79.96'), 21),
 (datetime.datetime(2013, 7, 25, 0, 0), 924, Decimal('79.95'), 22),
 (datetime.datetime(2013, 7, 25, 0, 0), 926, Decimal('79.95'), 22),
 (datetime.datetime(2013, 7, 25, 0, 0), 93, Decimal('74.97'), 23),
 (datetime.datetime(2013, 7, 25, 0, 0), 835, Decimal('63.98'), 24),
 (datetime.datetime(2013, 7, 25, 0, 0), 897, Decimal('49.98'), 25),
 (datetime.datetime(2013, 7, 26, 0, 0), 1004, Decimal('10799.46'), 1),
 (datetime.datetime(2013, 7, 26, 0, 0), 365, Decimal('7978.67'), 2),
 (datetime.datetime(2013, 7, 26, 0, 0), 957, Decimal('6899.54'), 3),
 (datetime.datetime(2013, 7, 26, 0, 0), 191, Decimal('6799.32'), 4)]

Now let us see how we can filter the data.

In [25]:
%%sql

SELECT * FROM (
    SELECT nq.*,
        dense_rank() OVER (
            PARTITION BY order_date
            ORDER BY revenue DESC
        ) AS drnk
    FROM (
        SELECT o.order_date,
            oi.order_item_product_id,
            round(sum(oi.order_item_subtotal)::numeric, 2) AS revenue
        FROM orders o 
            JOIN order_items oi
                ON o.order_id = oi.order_item_order_id
        WHERE o.order_status IN ('COMPLETE', 'CLOSED')
        GROUP BY o.order_date, oi.order_item_product_id
    ) nq
) nq1
WHERE drnk <= 5
ORDER BY order_date, revenue DESC
LIMIT 20

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
20 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, Decimal('5599.72'), 1),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, Decimal('5099.49'), 2),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, Decimal('4499.70'), 3),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, Decimal('3359.44'), 4),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, Decimal('2999.85'), 5),
 (datetime.datetime(2013, 7, 26, 0, 0), 1004, Decimal('10799.46'), 1),
 (datetime.datetime(2013, 7, 26, 0, 0), 365, Decimal('7978.67'), 2),
 (datetime.datetime(2013, 7, 26, 0, 0), 957, Decimal('6899.54'), 3),
 (datetime.datetime(2013, 7, 26, 0, 0), 191, Decimal('6799.32'), 4),
 (datetime.datetime(2013, 7, 26, 0, 0), 1014, Decimal('4798.08'), 5),
 (datetime.datetime(2013, 7, 27, 0, 0), 1004, Decimal('9599.52'), 1),
 (datetime.datetime(2013, 7, 27, 0, 0), 191, Decimal('5999.40'), 2),
 (datetime.datetime(2013, 7, 27, 0, 0), 957, Decimal('5699.62'), 3),
 (datetime.datetime(2013, 7, 27, 0, 0), 1073, Decimal('5399.73'), 4),
 (datetime.datetime(2013, 7, 27, 0, 0), 365, Decimal('5099.15'), 5),
 (datetime.datetime(2013, 7, 28, 0, 0), 1004, Decimal('5599.72'), 1),
 (datetime.datetime(2013, 7, 28, 0, 0), 957, Decimal('5099.66'), 2),
 (datetime.datetime(2013, 7, 28, 0, 0), 365, Decimal('4799.20'), 3),
 (datetime.datetime(2013, 7, 28, 0, 0), 403, Decimal('4419.66'), 4),
 (datetime.datetime(2013, 7, 28, 0, 0), 191, Decimal('4299.57'), 5)]

In [26]:
%%sql

SELECT * FROM (SELECT dpr.*,
  dense_rank() OVER (
    PARTITION BY order_date
    ORDER BY revenue DESC
  ) AS drnk
FROM daily_product_revenue AS dpr) q
WHERE drnk <= 5
ORDER BY order_date, revenue DESC
LIMIT 20

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
20 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, Decimal('5599.72'), 1),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, Decimal('5099.49'), 2),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, Decimal('4499.70'), 3),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, Decimal('3359.44'), 4),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, Decimal('2999.85'), 5),
 (datetime.datetime(2013, 7, 26, 0, 0), 1004, Decimal('10799.46'), 1),
 (datetime.datetime(2013, 7, 26, 0, 0), 365, Decimal('7978.67'), 2),
 (datetime.datetime(2013, 7, 26, 0, 0), 957, Decimal('6899.54'), 3),
 (datetime.datetime(2013, 7, 26, 0, 0), 191, Decimal('6799.32'), 4),
 (datetime.datetime(2013, 7, 26, 0, 0), 1014, Decimal('4798.08'), 5),
 (datetime.datetime(2013, 7, 27, 0, 0), 1004, Decimal('9599.52'), 1),
 (datetime.datetime(2013, 7, 27, 0, 0), 191, Decimal('5999.40'), 2),
 (datetime.datetime(2013, 7, 27, 0, 0), 957, Decimal('5699.62'), 3),
 (datetime.datetime(2013, 7, 27, 0, 0), 1073, Decimal('5399.73'), 4),
 (datetime.datetime(2013, 7, 27, 0, 0), 365, Decimal('5099.15'), 5),
 (datetime.datetime(2013, 7, 28, 0, 0), 1004, Decimal('5599.72'), 1),
 (datetime.datetime(2013, 7, 28, 0, 0), 957, Decimal('5099.66'), 2),
 (datetime.datetime(2013, 7, 28, 0, 0), 365, Decimal('4799.20'), 3),
 (datetime.datetime(2013, 7, 28, 0, 0), 403, Decimal('4419.66'), 4),
 (datetime.datetime(2013, 7, 28, 0, 0), 191, Decimal('4299.57'), 5)]