## Managing Partitions - List

Let us understand how to manage partitions for a partitioned table using `users_part`.

* All users data with `user_role` as **'U'** should go to one partition by name `users_part_u`.
* All users data with `user_role` as **'A'** should go to one partition by name `users_part_a`.
* We can add partition to existing partitioned table using `CREATE TABLE partition_name PARTITION OF table_name`.
* We can have a partition for default values so that all the data that does not satisfy the partition condition can be added to it.
* We can have a partition for each value or for a set of values.
  * We can have one partition for `U` as well as `A` and default partition for all other values.
  * We can have individual partitions for `U`, `A` respectively and default partition for all other values.
  * We can use `FOR VALUES IN (val1, val2)` as part of `CREATE TABLE partition_name PARTITION OF table_name` to specify values for respective table created for partition.
* Once partitions are added, we can insert data into the partitioned table.
* We can detach using `ALTER TABLE` and drop the partition or drop the partition directly. To drop the partition we need to use `DROP TABLE` command.

```{note}
Here is how we can create partition for default values for a list partitioned table **users_part**.
```

In [25]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [26]:
%env DATABASE_URL=postgresql://itversity_sms_user:sms_password@localhost:5432/itversity_sms_db

env: DATABASE_URL=postgresql://itversity_sms_user:sms_password@localhost:5432/itversity_sms_db

In [27]:
%%sql

CREATE TABLE users_part_default
PARTITION OF users_part DEFAULT

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

```{note}
All the 3 records will go to default partition as we have not defined any partition for user_role 'U'.
```

In [28]:
%%sql

INSERT INTO users_part (user_first_name, user_last_name, user_email_id, user_role)
VALUES 
    ('Scott', 'Tiger', 'scott@tiger.com', 'U'),
    ('Donald', 'Duck', 'donald@duck.com', 'U'),
    ('Mickey', 'Mouse', 'mickey@mouse.com', 'U')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[]

In [29]:
%%sql

SELECT * FROM users_part_default

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2020, 11, 24), datetime.datetime(2020, 11, 24, 12, 11, 46, 894594)),
 (3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2020, 11, 24), datetime.datetime(2020, 11, 24, 12, 11, 46, 894594)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2020, 11, 24), datetime.datetime(2020, 11, 24, 12, 11, 46, 894594))]

In [30]:
%%sql

CREATE TABLE users_part_a 
PARTITION OF users_part  
FOR VALUES IN ('A')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [31]:
%%sql

UPDATE users_part
SET
    user_role = 'A'
WHERE user_email_id = 'scott@tiger.com'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [32]:
%%sql

SELECT * FROM users_part

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'A', False, datetime.date(2020, 11, 24), datetime.datetime(2020, 11, 24, 12, 11, 46, 894594)),
 (3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2020, 11, 24), datetime.datetime(2020, 11, 24, 12, 11, 46, 894594)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2020, 11, 24), datetime.datetime(2020, 11, 24, 12, 11, 46, 894594))]

In [33]:
%%sql

SELECT * FROM users_part_a

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'A', False, datetime.date(2020, 11, 24), datetime.datetime(2020, 11, 24, 12, 11, 46, 894594))]

In [34]:
%%sql

SELECT * FROM users_part_default

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[(3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2020, 11, 24), datetime.datetime(2020, 11, 24, 12, 11, 46, 894594)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2020, 11, 24), datetime.datetime(2020, 11, 24, 12, 11, 46, 894594))]

```{error}
This will fail as there are records with user_role 'U' in default partition. 
```

In [35]:
%%sql

CREATE TABLE users_part_u 
PARTITION OF users_part  
FOR VALUES IN ('U')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db

IntegrityError: (psycopg2.errors.CheckViolation) updated partition constraint for default partition "users_part_default" would be violated by some row

[SQL: CREATE TABLE users_part_u PARTITION OF users_part
FOR VALUES IN ('U')]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

```{note}
We can detach the partition, add partition for 'U' and load the data from detached partitione into the new partition created.
```

In [36]:
%%sql

ALTER TABLE users_part
    DETACH PARTITION users_part_default

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [37]:
%%sql

CREATE TABLE users_part_u 
PARTITION OF users_part  
FOR VALUES IN ('U')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [38]:
%%sql

INSERT INTO users_part
SELECT * FROM users_part_default

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[]

In [39]:
%%sql

SELECT * FROM users_part_a

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'A', False, datetime.date(2020, 11, 24), datetime.datetime(2020, 11, 24, 12, 11, 46, 894594))]

In [40]:
%%sql

SELECT * FROM users_part_u

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[(3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2020, 11, 24), datetime.datetime(2020, 11, 24, 12, 11, 46, 894594)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2020, 11, 24), datetime.datetime(2020, 11, 24, 12, 11, 46, 894594))]

```{note}
We can drop and create partition for default or truncate and attach the existing default partition.
```

In [41]:
%%sql

DROP TABLE users_part_default

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [42]:
%%sql

CREATE TABLE users_part_default
PARTITION OF users_part DEFAULT

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]